<div class="form-container">
  <div class="login-card">
    <h1 class="login-title text-center">Resend confirmation instructions</h1>
    <br>

    <%= form_for(resource, as: resource_name,
                 url: confirmation_path(resource_name),
                 html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group text-start">
        <%= f.label :email %><br>
        <%= f.email_field :email,
              class: "form-control",
              autofocus: true,
              autocomplete: "email",
              value: (resource.pending_reconfirmation? ?
                       resource.unconfirmed_email :
                       resource.email) %>
      </div>

      <div class="form-actions mt-4 d-flex justify-content-end">
        <%= f.submit "Resend confirmation instructions",
                     class: "btn btn-nu" %>
      </div>
    <% end %>

    <br>
    <div class="form-actions mt-2 text-start">
      <%= link_to "Log in", new_user_session_path, class: "me-3" %>
      <%= link_to "Sign up", new_user_registration_path %>
    </div>
  </div>
</div>
