<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <title>Photo Quiz (NU)</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUa1ZyhlU6pdt36U8Hft8z8sL6b1Z8n3e6e5eF5e5e5e5e5e5e5e5e5e5e5" crossorigin="anonymous">
</head>

<body>
  <div class="container py-4">

    <div class="actions mb-4">
      <h4>Directory</h4>
      <%= form_with url: students_path, method: :get, data: { turbo_frame: "students", controller: "search", action: "input->search#search" }, local: false do |f| %>
        <%= f.text_field :query, placeholder: "Search students or courses...", class: "form-control", autofocus: true %>
      <% end %>
      <%= link_to 'New Student', new_student_path, class: "btn btn-nu me-2" %>
      <%= link_to 'New Course', new_course_path, class: "btn btn-nu me-2" %> 
      <%= link_to 'Quiz', quizzes_path, class: "btn btn-nu" %> 
    </div>

    <%= turbo_frame_tag "students" do %>
      <%= render partial: "students_list", locals: { students: @students } %>
    <% end %>
  
    </div>
</body>
</html>